{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
</head>
<body>

    {% if lastest_posts %}
        <ul>
        {% for post in lastest_posts %}
            <!--<li><a href="/blog/{{ post.id }}/">{{ post.title }}</a></li>-->
            <li><a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No Blog Post is available.</p>
    {% endif %}

</body>
</html>